{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content%}
{{ block.super }}
<div class="container-fluid m-5">
   <div class="card" style="background-color: black;">
        <p style="color:yellow;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati explicabo dolores distinctio nam odit, porro cumque quos quod nisi iste maxime accusantium veniam esse ad nesciunt voluptas quasi nobis labore.</p>
        <p style="color:yellow;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore fuga, repudiandae eos asperiores cum maxime, sed accusamus veritatis animi reprehenderit soluta ipsum, tenetur minus. Fugiat incidunt nemo doloremque animi esse!</p>
        <p style="color:yellow;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet minima beatae dicta! Nesciunt recusandae dicta exercitationem maxime in dolor nisi sapiente error ex, at neque dignissimos sint labore ullam molestias.</p>
   </div>

</div>
{% endblock %}