{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content%}
{{ block.super }}
<div class="container-fluid m-5">
    <div class="row row-cols-2">
        <div class="col">
            {% for business in business_list %}
            <div class="card">
                <div class="card-title" style="font-size: larger; text-align: center;">{{ business.name }}</div> 
                <img class="image-thumbail" src="{{ business.image.url }}" alt="" width="500px" height="500px">
                    <p>{{ business.email }}</p>
                    <p></p>
            </div>
        </div>
        {% endfor %}
        
    </div>

</div>
{% endblock %}