

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">About Us</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
        <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
          </div>
    </div>
    <div>
        <a class="navbar-brand" href="#">NeighbourHood Watch</a>
    </div>      
  </nav>